<%- include('partials/header') -%>

<header>
    <nav class="nav nav-1">
        <h1>HayaFooty</h1>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <a href="/login">Login</a>
    </nav>
    <nav class="nav nav-2">
        <h2>All leagues</h2>
    </nav>
</header>






<%- include('partials/footer') -%>
