<%- include('partials/header') -%>

<header>
    <nav class="nav nav-1">
        <h1>HayaFooty</h1>
        <!-- <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
        <a href="/loginPage">Login</a>
    </nav>
    <nav class="nav nav-2">
        <!-- <section class="sidebar-btn"> -->
            <i class="fa-solid fa-bars"></i>
        <!-- </section> -->
        <i class="fa-solid fa-bars-staggered" style="font-size: 25px;"></i> <h2>All leagues</h2>
    </nav>
</header>
<aside class="sidebar">
    <i class="fa-regular fa-square-minus"></i>
  <ul>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/">Home</a></li>
            <li><a href="/allLeagues">All Leagues</a></li>
            <li><a href="/allLeagues">My Favorite Leagues</a></li>

            <li></li>
        </ul>
</aside>

<main class="all-leagues-options">
    <%  for(let i = 0 ; i < competitions.length ; i++){ %>
        <% if(competitions[i].name !== 'Copa Libertadores' && competitions[i].name !== 'Championship' && competitions[i].name !== 'UEFA Champions League'){ %>

            <a class="league-director" href="/leagues/<%= competitions[i].id %>">
         
                <img class="league-logo" src="<%= competitions[i].emblem %>" alt="">
                  
        
              </a> 
       <%  }  %>

       
   
    <% } %>
</main>






<%- include('partials/footer') -%>
