<%- include('partials/header') -%>

<header>
    <nav class="nav nav-1">
        <h1>HayaFooty</h1>
        <!-- <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
        <a href="/login">Login</a>
    </nav>
    <!-- <nav class="nav nav-2"></nav> -->
</header>

<main>
    <a href="/allLeagues"><section class="main-choice all-leagues"><i class="fa-solid fa-bars-staggered"></i><h2>All<br>leagues</h2></section></a>
    <section class="main-choice my-leagues"><i class="fa-regular fa-star"></i><h2>My<br>leagues</h2></section>
</main>



<%- include('partials/footer') -%>

