<%- include('partials/header') -%>

<header>
    <nav class="nav nav-1">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <a href="/login">Login</a>
    </nav>
    <nav class="nav nav-2"></nav>
</header>

<main>
    <section>All leagues</section>
    <section>My leagues</section>
</main>



<%- include('partials/footer') -%>

