<%- include('partials/header') -%>

<header>
    <nav class="nav nav-1">
        <h1>HayaFooty</h1>
        <!-- <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
        <a href="/login">Login</a>
    </nav>
    <nav class="nav nav-2">
            <i class="fa-solid fa-bars"></i>
    </nav>
</header>
<aside class="sidebar">
    <i class="fa-regular fa-square-minus"></i>
    <ul>
        <li><a href="/profile">My Profile</a></li>

        <li><a href="/allLeagues">All Leagues</a></li>
        <li><a href="/allLeagues">My Favorite Leagues</a></li>

        <li></li>
          </ul>
  </aside>

<main>



<section class="login-section">
    <h2>login</h2>

    <form action="/login" method="POST">
        <!-- <input type="text" placeholder="name"> -->
        <!-- <input type="email" name="" id="" placeholder="email">
        <input type="password" name="" id="" placeholder="password"> -->
        <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        placeholder="Email"
      />
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        placeholder="password"
      />
        <section class="login-signup-btns">
            <a href=""><button>Login</button></a>
            <a href="/signUpPage">SignUp</a>
        </section>
       
    </form>
</section>

</main>



<%- include('partials/footer') -%>