<%- include('partials/header') -%>

<header>
    <nav class="nav nav-1">
        <h1>HayaFooty</h1>
        <!-- <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
        <a href="/login">Login</a>
    </nav>
    <nav class="nav nav-2">
        
    </nav>
</header>


<h2>login page</h2>


<section>
    <form action="POST">
        <input type="text">
        <input type="email" name="" id="">
        <input type="password" name="" id="">
        <a href=""><button>Login</button></a>
    </form>
</section>


<%- include('partials/footer') -%>