<%- include('partials/header') -%>
<section class="profileOptions">
    <!-- <h1>profile</h1> -->
    <section>
    <h2><%= myProfileInfo.userName  %></h2>
    </section>
    <a href="/logout" style="    background: rgb(255, 98, 0); ">Logout</a>
</section>





<%- include('partials/footer') -%>