<%- include('partials/header') -%>
<section class="profileOptions">
    <!-- <h1>profile</h1> -->
    <section>
    <h2><%= myProfileInfo.userName  %></h2>
    </section>
    <a href="/logout"><button>Logout</button></a>
</section>





<%- include('partials/footer') -%>