<%- include('partials/header') -%>
<section class="profileOptions">
    <!-- <h1>profile</h1> -->
    <section>
    <h1><%= myProfileInfo.userName  %></h1>
    </section>
    <section>
    <h2> profile main section</h2>
    </section>
    <a href="/logout" style="    background: rgb(255, 98, 0); ">Logout</a>
</section>





<%- include('partials/footer') -%>