<%- include('partials/header') -%>

<header>
    <nav class="nav nav-1">
        <h1>HayaFooty</h1>
        <!-- <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
        <a href="/login">Login</a>
    </nav>
    <nav class="nav nav-2">
        
    </nav>
</header>


<main>



<section class="login-section">
    <h2>SignUp</h2>

    <form action="POST">
        <input type="text" placeholder="name">
        <input type="email" name="" id="" placeholder="email">
        <input type="password" name="" id="" placeholder="password">

        <section class="login-signup-btns">
            <a href="/login" style="    background: #193549; ">Login</a>
            <a href="/"  style=" background: rgb(255, 98, 0);"><button>SignUp</button></a>
        </section>
       
    </form>
</section>

</main>



<%- include('partials/footer') -%>