*{
    /* border: 1px solid black; */
}

.display-none {
   display: none;
   
}
.fa-list-ol {
    font-size: 50px;

}

.league-choice {
   position: relative;
   width: 800px;
   height: 100px;
   background: white;
   margin : 10px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align:  center;
   font-size: 50px;
   color: rgb(255, 98, 0);
   cursor: pointer;
}
.league-choice h3 {
    
    /* background:  black; */
    width: fit-content;
}
.league-choice .fa-angles-down {
    /* position: absolute;
    right: 20px;
justify-self: flex-end; */
color: #193549;
}
.all-leagues-options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.league-main {
    display: flex;
    align-items: flex-start;
    /* background: #811538; */
    flex-direction: column;
} 

.league-logo {
height: 100px;
}

.small-league-logo {
    height: 95%;
}

.league-director {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 16px;
    margin: 0 auto;
}


.team-crest {
    height: 40px;
}



.group {

    /* border: 1px solid black; */

    text-align: center;
    width: 800px;
    background: white;
    margin: 20px auto;
    /* transition: display 0.25s; */

} 


.group-name {
    width: 100%;
    height: 100%;
    padding:  10px 0;
    /* background-color: white; */
    /* background: #193549; */
    background: rgb(255, 98, 0) ;

    color: white;
}

.group-title {
    width: 100%;
}
.column-definer {

    font-weight: bold;
}
tr {

    /* margin: 50px 0;
    padding: 200px 0; */
    height:  100px;
    /* border: 1px solid black; */
}



/* td {
    display: flex;
    justify-content: center;
    align-items: center;
} */


  .crest-tla {
    display: flex;
     justify-content: center;
     align-items: center;
     height: 100px;
  }



  .fixures {
   
    /* background: white; */
    width: 800px;
    margin: 20px auto;
  }



  /* match fixures styling  ==== must  be restyled */


  
.match-fixure {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #811538; */
    width: 800px;
    margin: 50px auto;
    height: 80px;
    /* font-family: 'Merienda', cursive; */
    /* border-radius: 16px; */
    /* background-color: papayawhip; */
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important; */
    box-shadow: 0px 2px 5px rgb(255, 98, 0);

    background: white;
    cursor: pointer;
}





.fixure-crest {
    width: 30px;
    /* border-radius: 50%; */
    margin: 0 10px;
}

.team1 , .team2 {
    display: flex;
     height: 100% !important;
     /* background-color: #811538; */
    /* border: 1px solid rgb(255, 98, 0); */
    justify-content: center;
    align-items: center;
    background: white;
    width: 100px;
    /* background:rgb(255, 98, 0) ; */
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important; */
    box-shadow: 0px 2px 5px rgb(255, 98, 0) !important;

}
.team1 {
    /* border-radius: 16px 0 0 16px; */
    /* border: 1px solid rgb(255, 98, 0); */


}

.team2 {
    /* border-radius: 0 16px 16px 0; */


}
.team1 h3  , .team2 h3 {
    
    /* color: papayawhip; */
     margin: 0 10px;
}

 .score {
    display: flex;
    justify-content: space-around;
    align-items: center;
        /* margin: 0 50px; */
    /* border: 1px solid purple; */
    width: 100%;
    /* background: white; */
    /* background:rgb(255, 98, 0) ; */
    /* color: white; */
} 



/* .vs {
    margin: 0 50px;
} */
.score h3 {
 
    margin: 0 2%;
}


.live-sign {
    position: absolute;
    /* background-color: #811538; */
    /* color: papayawhip; */
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 16px;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

@keyframes blinking {
    0% { background-color: rgb(255, 98, 0); }
    50%  { background-color: white;  }
    100%   { background-color: rgb(255, 98, 0); }   
}


  

  @media all and (max-width : 858px) {
    .group {
        width: 95%;
    }
  }