*, *::before , *::after {
    /* border: 2px solid white; */
}
body {
    /* display: flex;
    justify-content: space-between; */
    /* background: white; */
    display: grid;
    grid-template-columns:  1fr 1fr;
}

main {
    margin: 0;
    margin-left: 300px ;
}

.main-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: block;
    /* width: fit-content;  77vw */
    margin-top: 0 !important;
    /* margin-left: 300px ; */
}

.main-profile h2 {
  text-align: center;
  color: white;
}
hr {
    height: 2px;
    width: 100%;
    background: orange;
}
.profileOptions {
    position: fixed;
    background: white;
    height: 100vh;
    width: 300px;
    padding: 10px 10px;
    /* padding-top: 10px; */
    /* background: #193549; */
    /* color: white; */

}
.profileOptions ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    color: black;
    height: 200px;
    list-style: none;
    margin:  0 auto;
    /* width: fit-content; */
}
.profileOptions ul li {
    list-style: none;
    text-decoration: none;
}
.profileOptions ul li a, 
.profileOptions ul li a:active,
.profileOptions ul li a:focus  { 
    text-decoration: none;
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    margin:  20px auto;
 }

 .logout-btn {
    display: flex;
    height: fit-content;
    margin: 20px auto;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.501);
 }
.profileOptions button {
    /* width: 300px !important;
     */
     padding: 0 20px;
     text-decoration: none;
     color: white;
     font-size: 20px;
     /* margin: 10px auto; */
     background: rgb(255, 98, 0);
     width: 100%  !important;
     height: 50px;
     cursor: pointer;
     /* margin: 20px auto; */
}


.create-favorite-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 2px solid rgb(255, 98, 0);
    height: 50px;
    width: 300px;
    padding: auto 0;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.fa-folder-plus {
    color: rgb(255, 98, 0);
}

.mayFavLeagues {
    /* position: relative; */
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    gap: 10px;
}

.mayFavLeagues img {
    height: 200px;
    margin: 0 auto;
}

.league-card {
display: flex;
flex-direction: column;
align-items: center;
    width: 300px;
    /* background: #193549d8; */
    margin: 10px auto;
    color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.501);
    border-radius: 16px;
    background:  radial-gradient(circle,   #004f87 0%,  rgb(0, 118, 182) 100%);
   /* background: linear-gradient(270deg, #022843, #00f3f3); */
   background-size: 400% 400%;
   /* background-image: url("https://toppng.com/uploads/preview/uefa-champions-league-football-ball-stars-11562982790rnz67yryzj.png"); */
     -webkit-animation: AnimationName 8s ease infinite;
     -moz-animation: AnimationName 8s ease infinite;
     animation: AnimationName 8s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.league-card section {
    /* border: 1px solid black; */
    width: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.501) inset;
    border-radius: 0 0 16px 16px;

}
.league-card section p {
    box-shadow: 0px 5px 5px rgb(255, 98, 0) !important;
    width: 100%;
    font-weight: bold;
    padding: 10px 10px;
    margin: 15px 0;
}

@media all and (max-width: 1276px) {
    .mayFavLeagues {
        grid-template-columns: 1fr 1fr;
    }
}