@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Spice&family=Faster+One&family=Fredoka+One&family=Kaushan+Script&family=Libre+Barcode+39+Text&family=Lobster&family=Merienda:wght@400;500;600;700&family=Mitr:wght@400;600;700&family=Modak&family=Montserrat+Subrayada:wght@700&family=Mulish:wght@400;700&family=Nabla&family=Parisienne&family=Passion+One&family=Poppins:ital,wght@0,400;0,500;0,700;1,700&family=Press+Start+2P&family=Prosto+One&family=Righteous&family=Roboto&family=Russo+One&family=Source+Code+Pro:wght@500;700&display=swap');
*, *::before , *::after {
    margin:  0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: #193549;
    font-family: 'Mulish', sans-serif;


}
a{
    text-decoration: none;
}


.nav {
    display: flex;
    background: white;
    /* border: 1px solid black; */
    height: 50px;
}
h1 {
    /* color: #193549; */
    color: rgb(255, 98, 0) ;
    font-family: 'Fredoka One', cursive;
}


.nav-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 3px rgb(255, 98, 0);
    height: 80px;
    z-index : 8000;
    border-bottom: 2px solid rgb(255, 98, 0);
}

.nav-1 ul {
    display: flex;
}

.nav-1 a {
    background: #193549;
    /* color: rgb(255, 98, 0) ; */
    color: white;
    padding: 5px 20px;
    border-radius: 16px;
    font-weight: bold;
    text-decoration: none;
}


.nav-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.501);
    text-align: center;
}
.nav-2 h2 {
    color: #193549;
    height: fit-content;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.main-choice {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 50px;
    border-radius: 16px;
    box-shadow: 0px 10px 3px rgb(255, 98, 0) ;

    /* box-shadow: 0px 2px 15px rgb(255, 98, 0); */
    /* rgba(0, 0, 0, 0.501) */
    cursor: pointer ;
}

.main-choice:hover {
    box-shadow: 0px -10px 15px rgb(255, 98, 0) inset;
    /* box-shadow: 0px -10px 3px rgb(255, 98, 0) inset; */


}


.fa-star , .fa-bars-staggered {
    font-size: 280px;
    /* color: #193549; */
    color: rgb(255, 98, 0);
    margin-left: 5px;
    margin-top: 5px;
}

.main-choice  h2 {
    position: relative;
    right: 0;
    color: #193549;
    /* color: rgb(255, 98, 0); */
    font-weight: bolder;
    width: fit-content;
    margin-left: 30%;
    /* border :1px solid black ; */
    /* text-align: right; */
    font-size: 80px;
}


/* sidebar styling */

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    background: rgba(25, 53, 73, 0.9);
    transform: translateX(-100%) ;
    box-shadow: 0px 2px 3px black;
    z-index: 1000;
}
.open-active {
    transform: translateX(0) !important;

}
.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */
    height: 80%;
    width: 100%;
}
.sidebar ul li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    color: white;
    text-align: center;
}
.sidebar ul li:hover {
    background: white;
    color: rgb(255, 98, 0);
}
.sidebar ul li a {
    display: inline-block;
    font-size: 30px;
    color: white;
    width: 100% !important;
    height: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
.sidebar ul li a:hover {
    color: rgb(255, 98, 0);
}





/* burger menu */
.fa-bars {
    position: absolute;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #193549;
     color: rgb(255, 98, 0) ;
    width: 40px ;
    height: 40px;
    /* border: 1px solid black; */
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 2px 5px rgba(4, 3, 3, 0.501)  !important;

}
.fa-bars:hover {
    cursor: pointer;
}

.fa-square-minus {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 35px;
    color: rgb(255, 98, 0);
    cursor: pointer;
}



/* 
.burger-menu-logo {
    position:absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #811538; */
    /* color: #811538;
    top: 10px;
    left: 10px;
    width: fit-content;
    height: 50px;
} */


/* .burger-menu-logo i  {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
} */ 